@page "/companies"
@using System.Net.Http.Json
@using SSUI.Services.Interface.Administration
@inject HttpClient httpClient
@inject ISnackbar Snackbar


<PageTitle>Company Management</PageTitle>
@if (isLoading)
{
    <div class="loader-overlay">
        <div class="loader"></div>
    </div>
}

<h1 class="Page-main-heading">Companies</h1>
<hr class="mb-4" />

<MudDialog @bind-IsVisible="@isFormDialogVisible" MaxWidth="MaxWidth.Medium" FullWidth="true">
    <DialogContent>
        <EditForm Model="@formData" OnValidSubmit="@HandleSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <InputText hidden @bind-Value="formData.Id" />

            <div class="mb-4">
                <h3 class="font-semibold text-black text-3xl">
                    @(isEditMode ? "Edit Company" : "Add Company")
                </h3>
            </div>
            <hr class="mb-4" />

            <!-- Company Name & Alias -->
            <div class="grid grid-cols-12 gap-4 mb-4">
                <label class="col-span-2 text-black self-center">Company Name</label>
                <div class="col-span-10">
                    <InputText @bind-Value="formData.CompanyName" class="form-control text-black" />
                </div>
            </div>
            <div class="grid grid-cols-12 gap-4 mb-4">
                <label class="col-span-2 text-black self-center">Alias</label>
                <div class="col-span-10">
                    <InputText @bind-Value="formData.Alias" class="form-control text-black" />
                </div>
            </div>

            <!-- Region, Email, Subscription -->
            <div class="grid grid-cols-12 gap-4 mb-4">
                <label class="col-span-2 text-black self-center">Region</label>
                <div class="col-span-10">
                    <InputText @bind-Value="formData.Region" class="form-control text-black" />
                </div>
            </div>
            <div class="grid grid-cols-12 gap-4 mb-4">
                <label class="col-span-2 text-black self-center">Email</label>
                <div class="col-span-10">
                    <InputText type="email" @bind-Value="formData.Email" class="form-control text-black" />
                </div>
            </div>
            <div class="grid grid-cols-12 gap-4 mb-4">
                <label class="col-span-2 text-black self-center">Subscription</label>
                <div class="col-span-10">
                    <InputNumber @bind-Value="formData.Subscription" class="form-control text-black" />
                </div>
            </div>

            <!-- Status Switch -->
            <div class="grid grid-cols-12 gap-4 mb-4">
                <label for="status-toggle" class="col-span-2 text-black self-center">Status</label>
                <div class="col-span-10">
                    <label class="relative inline-flex items-center cursor-pointer">
                        <input type="checkbox" id="status-toggle" class="sr-only peer" @bind="formData.flgActive" />
                        <div class="w-11 h-6 rounded-full transition-all duration-300
                        bg-red-600
                        peer-checked:bg-[linear-gradient(179.4deg,_rgb(70,_80,_120)_-16.9%,_rgb(110,_90,_140)_119.9%)]">
                        </div>
                        <div class="absolute left-0.5 top-0.5 w-5 h-5 bg-white rounded-full transition-transform duration-300 peer-checked:translate-x-full"></div>
                    </label>
                </div>
            </div>

            <div class="flex justify-end">
                <button type="submit"
                class="text-white px-4 py-2 rounded shadow"
                style="background: linear-gradient(179.4deg, rgb(70, 80, 120) -16.9%, rgb(110, 90, 140) 119.9%); margin-bottom: 20px;"
                @onclick="CloseFormDialog">
                    Save
                </button>
            </div>



        </EditForm>
    </DialogContent>
</MudDialog>

<MudTable Items="@Entities" Filter="new Func<vmCompany,bool>(SearchFunction)" @bind-SelectedItem="SelectedEntity" Virtualize="true" FixedHeader="true" FixedFooter="true" Height="63%">
    <ToolBarContent>
        <MudTextField @bind-Value="UserSearch" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        <MudSpacer />
        <button class="btn button1 mt-4 px-5" @onclick="OpenFormDialog">Add</button>
    </ToolBarContent>

    <HeaderContent>
        <MudTh><div class="table-heading">No.</div></MudTh>
        <MudTh><div class="table-heading">Company Name</div></MudTh>
        <MudTh><div class="table-heading">Active</div></MudTh>
        <MudTh></MudTh>
    </HeaderContent>

    <RowTemplate>

        <MudTd DataLabel="Serial No." Style="width:100px;"><div class="table-row-data">@(@Entities.IndexOf(context) + 1)</div></MudTd>
        <MudTd DataLabel="CompanyName"><div class="table-row-data">@context.CompanyName</div></MudTd>
        <MudTd DataLabel="Status" Style="width:100px;"><div class="table-row-data">
            @if (context.flgActive)
            {
                <span class="px-2 py-1 rounded text-green-800 bg-green-100 text-lg font-medium">True</span>
            }
            else
            {
                <span class="px-2 py-1 rounded text-red-800 bg-red-100 text-md font-medium">False</span>
            }
            </div>
        </MudTd>

        <MudTd DataLabel="Actions" Style="width:300px;">
            <div class="flex justify-end space-x-2">
                <button class="btn button1" @onclick="() => EditCompany(context.Id)">Edit</button>
                <button class="btn button1" @onclick="() => ConfirmDelete(context.Id)">Delete</button>
            </div>
        </MudTd>

    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

<MudDialog @bind-IsVisible="@isDeleteDialogVisible">
    <DialogContent>
        <MudText Typo="Typo.h6">Delete Confirmation</MudText>
        <MudText>Are you sure you want to delete this Company?</MudText>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="DeleteCompanyConfirmed">Yes</MudButton>
        <MudButton Color="Color.Secondary" OnClick="() => isDeleteDialogVisible = false">No</MudButton>
    </DialogActions>
</MudDialog>
