@* @inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div> *@

@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
@if (!PageLoad)
{
    <MudOverlay DarkBackground="true" Absolute="true" Visible="!PageLoad">
        <MudProgressCircular Color="Color.Tertiary" Indeterminate="true" />
    </MudOverlay>
}
else
{
  
    <MudLayout>
        <AuthorizeView>
            <Authorized>
               @*  <MudAppBar Elevation="1">
                    Smart Systems
                    <MudIconButton Style="margin-left:1rem;" Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggler())" />
                    <MudIconButton Style="margin-left:10px;" Icon="@Icons.Material.Filled.Notifications" Color="Color.Inherit" Edge="Edge.End"></MudIconButton>
                    <MudIconButton Style="margin-left:10px;" Icon="@Icons.Material.Filled.Logout" Color="Color.Inherit" Edge="Edge.End" OnClick="@((e) => LogoutUser())"></MudIconButton>
                    <div class="rightbuttons">
                    </div>
                </MudAppBar> *@
@*                 <MudDrawer>
                    
                </MudDrawer> *@
                
                <div style="display:flex;">
                    <SideBar />

                    <div class="main-content">
                        
                        <NavBar />
                        <div class="Main-Content" style="margin-left:10px; padding-top:10px;">
                            @Body
                        </div>
                        
                    </div>

                </div>
               
                <MudSpacer></MudSpacer>
               
            </Authorized>
            <NotAuthorized>
        <SSUI.Pages.EmployeeManagement.LoginPage />
        </NotAuthorized> 
        </AuthorizeView>


        @* <MudAppBar Elevation="1">
    Smart Systems
    <MudIconButton Style="margin-left:1rem;" Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggler())" />
    <div class="rightbuttons">
    <MudIconButton Style="margin-left:10px;" Icon="@Icons.Material.Filled.Notifications" Color="Color.Inherit" Edge="Edge.End"></MudIconButton>
    <MudIconButton Style="margin-left:10px;" Icon="@Icons.Material.Filled.Logout" Color="Color.Inherit" Edge="Edge.End"></MudIconButton>
    </div>
    </MudAppBar>
    <MudDrawer @bind-Open="@DrawerToggle" ClipMode="DrawerClipMode.Docked" Elevation="2">
    <NavMenu />
    </MudDrawer>
    <MudSpacer></MudSpacer>
    <MudMainContent>
    @Body
    </MudMainContent> *@

    </MudLayout>

}